<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Application</title>
</head>
<body>
    <h1>Welcome to my Contact Application Homepage!</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et architecto ratione facere, saepe, tempora eligendi unde enim assumenda ducimus, dolorem aspernatur doloremque ipsa? Quos esse facilis soluta assumenda ab aliquid?</p>
    <p> Your name is:  {{ name }} </p>
</body>
</html>